.main-chat__body {
    flex: 1;
    flex-direction: row;
    background-color: #ededed;
    height: calc(100vh - 178px);
    overflow-y: auto;
    padding: 30px;
}

.main-chat__footer {
    display: flex;
    align-items: center;
    height: 62px;
}

.main-chat__footer > input {
    width: 100%;
    border: none;
    height: 50%;
    padding: 10px;
}

.main-chat__footer > input:focus {
    outline: none;
}